VITE_BARKODER_LICENSE_KEY=PEmBIohr9EZXgCkySoetbwP4gvOfMcGzgxKPL2X6uqNZ3Bicx9A04QOlOOshSdXdV04Yln1YEoEO979oe2jF1pyJox3MZNPoClV0-SqVmk-XNv5RPsWN3o_ngW4Q-TvLUBSBE8uPHWfIwds6z4eD7sVf5ir1vNAmcc9dsQa9ptjPmeg9UiFu8ZduhuVXhuyESiZTnu3Ot_qJSN1kwU5Rw2BU-wxatXhw4vfx80WXQ43YievMByPVET64HZHL02po5ssyUq5a6cOfYYyl13wF0oMNPIJWtDZl9rbDwxZMkwazjzrTH8_H-2jN0B13ZI_DFxlMIPdOlNMDczKk_zAtXl-KXyJcKOsXiDjwXYgkR8FLNMboECJqDgqz2NRuxRAzZ_WoNu6Idb6aZKGB9MJFVpFlgdUuENHEwcEFb8YRfFsCEdUPThgK5o-jfUMfyKulmXM5tvgi53J4nh7jFTu47JJ1NKRdOph1xWHhZFJrR0b3sLZDzz_WnIVhRh9zvO0L_5Qr0GaBpN_Uh8mUf7fQGmI51HXavWhuobRmkz9u2QMn4iNzq3wmNPPnZZ6eK5J04WOr4Xhxetq8QiArQGIGffQxzPU86IlfN_JbMUzpIXNDtE29Eq7r9xMn7GW_mvcW3ClLFOJ32vEFVOnsxrJTYpa4fJrVuiXg7nHDRbD93xjcX4U9pZulfCAlzE4VeZEFAlI_QgW1sJoABLTp94dpqnkoj07ENektYnR9p_JD0PxOVN_DMPxWzIjXgD6kKadF